In [1]:
# Import Libraries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
# Read the data set
df = pd.read_csv('C:/Users/agni.qa.AGNI.000/Desktop/Praveen/DS/DS/Notes/50_Startups.csv')

In [5]:
df.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   R&D Spend        50 non-null     float64
 1   Administration   50 non-null     float64
 2   Marketing Spend  50 non-null     float64
 3   State            50 non-null     object
 4   Profit           50 non-null     float64
dtypes: float64(4), object(1)
memory usage: 1.8+ KB

In [11]:
# catagorical varibles in the state column let convert into numnerical using dummies

In [12]:
a = pd.get_dummies(df["State"],drop_first = True)

In [13]:
a.head()

   Florida  New York
0        0         1
1        0         0
2        1         0
3        0         1
4        1         0

In [14]:
df = pd.concat([df,a],axis=1)

In [15]:
df.head()

,R&D Spend,Administration,Marketing Spend,State,Profit,Florida,New York
0,165349.20,136897.80,471784.10,New York,192261.83,0,1
1,162597.70,151377.59,443898.53,California,191792.06,0,0
2,153441.51,101145.55,407934.54,Florida,191050.39,1,0
3,144372.41,118671.85,383199.62,New York,182901.99,0,1
4,142107.34,91391.77,366168.42,Florida,166187.94,1,0

In [16]:
df= df.drop(["State"],axis=1)

In [17]:
df.head()

   R&D Spend  Administration  Marketing Spend     Profit  Florida  New York
0  165349.20       136897.80        471784.10  192261.83        0         1
1  162597.70       151377.59        443898.53  191792.06        0         0
2  153441.51       101145.55        407934.54  191050.39        1         0
3  144372.41       118671.85        383199.62  182901.99        0         1
4  142107.34        91391.77        366168.42  166187.94        1         0

In [18]:
# we need to split the data based on independent(x) and dependent(y) variable

x=  df.drop(["Profit"],axis=1)

In [19]:
y= df["Profit"]

In [21]:
x.head()

   R&D Spend  Administration  Marketing Spend  Florida  New York
0  165349.20       136897.80        471784.10        0         1
1  162597.70       151377.59        443898.53        0         0
2  153441.51       101145.55        407934.54        1         0
3  144372.41       118671.85        383199.62        0         1
4  142107.34        91391.77        366168.42        1         0

In [22]:
y

0     192261.83
1     191792.06
2     191050.39
3     182901.99
4     166187.94
5     156991.12
6     156122.51
7     155752.60
8     152211.77
9     149759.96
10    146121.95
11    144259.40
12    141585.52
13    134307.35
14    132602.65
15    129917.04
16    126992.93
17    125370.37
18    124266.90
19    122776.86
20    118474.03
21    111313.02
22    110352.25
23    108733.99
24    108552.04
25    107404.34
26    105733.54
27    105008.31
28    103282.38
29    101004.64
30     99937.59
31     97483.56
32     97427.84
33     96778.92
34     96712.80
35     96479.51
36     90708.19
37     89949.14
38     81229.06
39     81005.76
40     78239.91
41     77798.83
42     71498.49
43     69758.98
44     65200.33
45     64926.08
46     49490.75
47     42559.73
48     35673.41
49     14681.40
Name: Profit, dtype: float64

In [23]:
# spliting the data based on trainig and test data

In [25]:
from sklearn.model_selection import train_test_split

In [26]:
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=0.33,random_state=42)

In [27]:
# implement our classifier based on our Multiple linear regression

In [28]:
from sklearn.linear_model import LinearRegression

In [29]:
model = LinearRegression()

In [30]:
model.fit(xtrain,ytrain)

LinearRegression()

In [31]:
model.intercept_

57183.412952171995

In [32]:
model.coef_

array([ 8.04312540e-01, -8.99140461e-02,  2.84812890e-02,  4.03924487e+02,
       -1.21407965e+03])

In [33]:
ytrainpredict = model.predict(xtrain)

In [34]:
ytestpredict = model.predict(xtest)

In [35]:
# comparison between actual and predict values

In [40]:
a = pd.DataFrame({'Actual':ytrain,"Predict":ytrainpredict})
a.head()

       Actual        Predict
46   49490.75   56694.077165
47   42559.73   45006.630620
15  129917.04  144512.857242
9   149759.96  155297.689347
16  126992.93  116525.924444

In [41]:
b= pd.DataFrame({'Actual':ytest,"Predict":ytestpredict})
b.head()

       Actual        Predict
13  134307.35  126187.358759
39   81005.76   85719.456250
30   99937.59   99648.034932
45   64926.08   45664.955053
17  125370.37  127106.842490

In [44]:
#  Check the accuracy of this model

In [46]:
from sklearn.metrics import r2_score

In [47]:
r2_score(ytrain,ytrainpredict)*100

94.83841429755522

In [48]:
r2_score(ytest,ytestpredict)*100

94.75312056928277

In [49]:
# Predict the value for unknow value

In [51]:
xtrain.head(1)

    R&D Spend  Administration  Marketing Spend  Florida  New York
46    1315.46       115816.21        297114.46        1         0

In [53]:
model.predict([[1350,120000,300000,1,0]])

array([56427.86053215])